<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ed2.nfa025.cnam.fr.ed2"
          android:versionCode="1"
          android:versionName="1.0">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.READ_PROFILE"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ED2"
            android:label="@string/act1_name">
        </activity>
        <activity
            android:name=".CycleDeVie"
            android:label="@string/act2_name">
        </activity>
        <activity
            android:name=".MonActivite"
            android:label="@string/act3_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".Navigateur"
            android:label="@string/act3bis_name">
        </activity>
    </application>

</manifest>